@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");

:root {
	--color-primary: #f2f2f1;
	--color-secondary: #010101;
	--color-tertiary: #d1d1d1;
	--color-bg: #263238;
	--font-heading: Arial, helvetica;
	--font-body: "open sans", "Roboto", sans-serif;
	--font-misc: "Oswald", "monospace", "courier";
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	/* backface-visibility: hidden; */
}

body {
	background-color: var(--color-bg);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	padding: 20px;
}

h3,
h4 {
	font-family: var(--font-heading);
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.ticket {
	background-color: var(--color-primary);
	color: var(--color-secondary);
	width: 700px;
	height: 250px;
	display: grid;
	grid-template-columns: 250px calc(100% - 250px);
	font-family: var(--font-body);
}

.ticket-info {
	text-align: center;
	display: grid;
	box-shadow: inset 0 0 0 1px var(--color-tertiary);
	margin: 0px 0px 0 10px;
	padding: 10px;
	grid-template-areas:
		"title"
		"company"
		"doors"
		"date";
}

.ticket-info h2 {
	grid-area: title;
	align-self: center;
	padding: 0 10px 8px;
	font-size: 50px;
	text-transform: uppercase;
	width: 100%;
}

.ticket-info h3 {
	grid-area: company;
	align-self: center;
	padding: 0 10px 8px;
	font-size: 20px;
	text-transform: uppercase;
	padding-bottom: 30px;
	border-bottom: 1px dashed var(--color-secondary);
	width: 100%;
}



.ticket-info span.doors {
	grid-area: doors;
	font-size: 12px;
	margin-bottom: 0px;
	margin-top: 10px;
	text-transform: uppercase;

	letter-spacing: 2px;
}



.ticket-info span.date {
	grid-area: date;
	font-size: 16px;
	margin-bottom: 0px;
	margin-top: 10px;
	text-transform: uppercase;
	letter-spacing: 3px;
}


.ticket-sub {
	writing-mode: vertical-rl;
	position: relative;
	z-index: 1;
	padding: 10px 30px;
	border-right: 8px dotted var(--color-bg);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 250px;
}

.sub {
	padding: 10px;
	text-align: center;
	box-shadow: inset 0 0 0 1px var(--color-tertiary);
}

.ticket-sub::before,
.ticket-sub::after {
	background-color: var(--color-bg);
	width: 25px;
	height: 25px;
	border-radius: 50%;
	content: "";
	position: absolute;
	z-index: 2;
	top: -15px;
	right: -16px;
}

.ticket-sub::after {
	top: unset;
	bottom: -15px;
}

.ticket-sub p::before,
.ticket-sub p::after {
	background-color: var(--color-bg);
	width: 33px;
	height: 33px;
	border-radius: 50%;
	content: "";
	position: absolute;
	z-index: 2;
	top: -10px;
	left: -15px;
}

.ticket-sub p::after {
	top: unset;
	bottom: -10px;
}

.ticket-sub p {
	font-size: 14px;
	letter-spacing: 3px;
	padding: 14px 4px 14px 0;
}

.ticket-sub h3 {
	text-wrap: wrap;
	text-align: center;
}

.ticket-main {
	display: grid;
	grid-template-columns: 15% 85%;
	padding: 10px;
	height: 250px
}

.ticket-seat {
	display: grid;
	width: 100%;
	padding: 0px 10px;
	box-shadow: inset 0 0 0 1px var(--color-tertiary);

}

.ticket-seat>.ticket-seat-box {
	writing-mode: vertical-rl;
	text-align: center;
}

.ticket-seat>.ticket-seat-box p {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
	padding-right: 4px;
	font-weight: 700;
}

.ticket-seat>.ticket-seat-box h4 {
	font-weight: 500;
	font-size: 16px;
	line-height: 16px;
	padding-top: 6px;
	letter-spacing: 3px;
}